@theme "theme"

configuration {
	modes: "window,drun,combi,run,calc,filebrowser";
	fixed-num-lines: true;
	show-icons: true;
	terminal: "kitty";
	run-command: "{cmd}";
	combi-modes: "drun,run";
	matching: "normal";
	combi-display-format: "{text}";
}
